<!DOCTYPE html>
<html>
<head>
  <title>NewsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	<%= button_to "Log out", session_url, :method => :delete %>
	<br />
	Username: <%= current_user.name %>
	<br />
	Session token: <%= session[:session_token] %>
<% else %>
	<%= button_to "Log in", new_session_url, :method => :get %>
<% end %>

<hr>

<%= yield %>

</body>
</html>
